* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial;
    background-color: #1a1d23; /* blue background */
    color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* header */
header {
    background-color: #f2f2f2;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}



.h1 {
    font-size: 30px;
    color: green;
    font-weight: bold;
}


.formula-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
    margin: 10px;
}

.formula-section span {
    font-family: monospace;
    color: #666;
}


#formula-input {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border: 1px solid #aaa;
    background-color: #fff;
    color: #000;
}

#formula-input:focus {
    outline: none;
    border: 1px solid #191b1f;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 6px;
    overflow: hidden;
}

/* making the spreadsheet table to stay White */
#grid {
    border-collapse: collapse;
    background-color: #fff; /* important */
}


#grid td {
    width: 1000px;
    height: 26px;
    border: 1px solid #bbb;
    font-size: 12px;
    padding: 2px;
    background-color: #fff;
}


#grid th {
    border: 1px solid #bbb;
    background-color: #f2f2f2;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


#grid td:hover {
    background-color: #e9f1ff;
}


#grid td.selected {
    outline: 2px solid #4f8ef7;
}


#cell-editor {
    position: fixed;
    display: none;
    border: 2px solid #4f8ef7;
    padding: 9px;
    background-color: #fff;
    color: #000;
}


footer {
    background-color: #f2f2f2;
    padding: 6px;
    font-size: 11px;
    color: #333;
    display: flex;
    gap: 10px;
    border-top: 1px solid #ccc;
}


#status-value {
    color: #4f8ef7;
}